.container{
    background-color: black;
    padding-left: 1rem
        /* 16px */
    ;
    padding-right: 1rem
        /* 16px */
    ;
    border-radius: 0.9rem;
    width: 15rem;
    height: 17rem;
    margin-left: 2.6rem;
    margin-top: 1rem;
}

.wrapper{
    position: relative;
}

.searchTitle{
    font-weight: lighter;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.687);
}

.hrContainer{
    margin-top: 0.8rem;
}

.productsTitle{
    position: absolute;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.089rem;
    margin-top: 6px;
}

.dropDownImage{
    margin-left: 9rem;
    margin-top: 0.5rem;
}

.searchOption{
    position: absolute;
    margin-top: 1rem;
    width: 10.5rem;
    margin-left: 1rem;
}

.productsDropdown{
    position: absolute;
    margin-top: 6rem;
    width: 11rem;
    background-color: hsla(0, 3%, 20%, 0.7);
    height: 2.5rem;
    border-radius: 0.525rem;
    margin-left: 0.89rem;
}

.stateDropdown{
    position: absolute;
    margin-top: 9rem;
    width: 11rem;
    background-color: hsla(0, 3%, 20%, 0.7);
    height: 2.5rem;
    border-radius: 0.525rem;
    margin-left: 0.89rem;
}

.cityDropdown{
    position: absolute;
    margin-top: 12rem;
    width: 11rem;
    background-color: hsla(0, 3%, 20%, 0.7);
    height: 2.5rem;
    border-radius: 0.525rem;
    margin-left: 0.89rem;
}