html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--black20);
  height: 100%;
  width: 100%;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0px;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 500;
}

h4,
hr,
p,
pre,
ul,
li {
  margin: 0;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

button {
  background-image: none;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  text-transform: none;
  margin: 0;
  border: 0px;
  outline: 0px;
}

.glass{
  background: hsla(0, 3%, 20%, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.glass:hover {
  background: hsla(0, 3%, 20%, 1);
  border: 1px solid rgb(3, 3, 3);
  transform: scale(1.1); 
}

/* root helps to make available these variables for entire application*/
:root {
  --black: rgb(0, 0, 0);
  --black10: #181818;
  --black20: rgba(0, 0, 0, 0.6);
  --black30: rgb(17, 24, 39);
  --black40: #141414;
  --black50: rgb(20, 20, 20);
}